{% extends 'chat/layout.html' %}
{% block body %}

{% if message %}
<h1>{{message}}</h1>
{% endif %}



<div class = "login">

    <div id="login-header">
       <h1 id="login-text">Register</h1>
    </div>
    
    <div id = "login-details">
        <form id="login-form" method="POST" action = "{% url 'register'%}">
            {% csrf_token %}
            <br>

            <p>Username</p>
            <input type="text" name="username" class="login-input">

            <br>

            <p>Password</p>
            <input type= "password"  name="password"  class="login-input">

            <br>
            
            <p>Confirm Password</p>
            <input type= "password"  name="password"  class="login-input">

            <br>

            <input type = "submit" value="Register"  class="login-input" id="login-btn">

            <br>
        </form>
    </div>

</div>





{% endblock %}